@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*para simplificar el calcular de las cajas*/
}

main{
  background: #1b2831; /**/
  font-family: "Raleway", sans-serif; /*Fuente de texto*/
}

.headers{
  display: grid;
  align-items: center;
  text-align: center;
  height: 30px;
  width: 50%;
  padding: 4rem;
  /* padding-bottom: 0px; */
  font-size: large;
  font-family: "Raleway", sans-serif; /*Fuente de texto*/
}
input{
  height: 30px;
}
.container{
  display: flex ; /**/
}

.contents{
  display: grid;
  grid-template-columns: repeat(2,1fr); /*mostrar cuantas columnas los elementos*/
  align-items: center;
  width: 50%;
  padding: 4rem;
}
.elements{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.main-image{
  position: relative;
  transition: all 0.04s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elements:hover{
  background-color: #273b49;
  border-radius: 10px;
}
.main-image:hover{
  width: 100%;
  transform: scale(1.8);
}
h2{
  color: #ffffff;
  font-family: "Raleway", sans-serif; /*Fuente de texto*/
}
p{
  color: #ffffff;
  text-align: center;
  margin-top: 1rem;
  line-height: 2;
  font-size: 18px;
}

.buttons{
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 4rem;

}
button{
  height: 35px;
  width: 95px;
  padding: 0%;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-weight: 500;
  background: #009578;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}
.container .details{
  display: grid;
  width: 50%;
  padding: 4rem;

}
h3{
  color: #ffffff;
  text-align: center;
  font-family: "Raleway", sans-serif; /*Fuente de texto*/
}

span{
  font-family: "Raleway", sans-serif; /*Fuente de texto*/
  color: #ffffff;
}
img{
  display: flex;
}
